.post {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.08);
  margin: 30px 0;
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  object-fit: cover;
}

.postUserName {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.postDate {
  font-size: 12px;
}

.postTopRight {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: rgb(226, 226, 226);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgb(129, 126, 126);
}

.postCenter {
  margin: 20px 0;
}

.postImgBox {
  width: 100%;
  background-color: rgb(226, 226, 226);
}

.postImg {
  margin-top: 20px;
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: contain;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.postLikeCounter {
  font-size: 15px;
}

.postCommentText {
  cursor: pointer;
  border-bottom: 1px dashed gray;
  font-size: 15px;
}
